@charset "UTF-8";

body, code {
    font-size: 0.75em;
    color: #353535;
    background: #fff;
}

body {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

body, code, textarea {
    font-family: "Nanum Gothic","Malgun Gothic","맑은 고딕","돋움","Dotum","Apple Gothic","Apple SD Gothic Neo",sans-serif;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}

li {
	list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    outline: none;
}

#container {
    position: relative;
}

#container #contents {
    width: 1260px;
    margin: 5px auto 50px;
    min-height: 600px;
}

#container #contents, #container #contents-main .content-wrap, #header .bar .inner, #header .spot, #lnb .position, #lnb .position > ul, #footer .inner {
    width: 1100px;
}

.xans-board-listpackage {
    margin: 0 0 10px;
}

.path-board {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}

.path-board ol {
    float: right;
}

.path-board li {
    float: left;
    font-size: 11px;
    padding: 0 0 0 11px;
    margin: 0 0 0 7px;
    color: #757575;
}

.path-board li:first-child {
    background: none;
}

.path-board li a {
    font-size: 11px;
    color: #757575;
}

.tit-board {
   min-height: 30px;
	border-bottom: 1px solid #0000000d;
	margin-top: 30ox;
	margin: 50px auto;
}

.tit-board p.img {
    margin: 0 0 10px;
    text-align: center;
}

.tit-board h2 {
    display: inline-block;
        font-size: 14pt;
    line-height: 17px;
    color: #2e2e2e;
    font-weight: bold;
}

.tit-board p.info {
    margin: 17px 0 0;
    color: #939393;
    font-size: 12px;
}

.board-nav-style1 {
    font-size: 0;
    margin: 30px auto 30px;
}

.board-nav-style1 li {
    display: inline-block;
    margin: 0 8px;
    font-family: Roboto, 'Nanum Gothic', Dotum, '돋움', AppleGothic, sans-serif;
    font-weight: 400;
    font-size: 11px;
}

.board-nav-style1 li a {
    display: inline-block;
    border: 1px solid #e7e7e7;
    padding: 16px 31px;
    letter-spacing: 1px;
}

.xans-board-listpackage .sec-sort {
    padding: 5px 0 11px;
}

.xans-board-listpackage .boardList {
    clear: both;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.xans-board-listpackage table {
    border-bottom: 1px solid #e6e6e6;
}

.xans-board-listpackage .boardList table {
    color: #353535;
    font-size: 12px;
    line-height: 140%;
}

caption {
    display: none;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th, td {
    border: 0;
    vertical-align: top;
}

.xans-board-listpackage table th {
    padding: 12px 0 12px;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    letter-spacing: 1px;
}

.displaynone {
    display: none !important;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.xans-board-listpackage table td {
    padding: 7px 3px 7px;
    height: 27px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    vertical-align: middle;
}

.xans-board-listpackage table tbody.notice .no {
    font-size: 11px;
}

.xans-board-listpackage table tbody.notice .no, .xans-board-listpackage table tbody.notice .thumb, .xans-board-listpackage table tbody.notice .category, .xans-board-listpackage table tbody.notice .subject, .xans-board-listpackage table tbody.notice .writer, .xans-board-listpackage table tbody.notice .date, .xans-board-listpackage table tbody.notice .hit, .xans-board-listpackage table tbody.notice .vote, .xans-board-listpackage table tbody.notice .point {
    background-color: #f9f9f9;
}

.xans-board-listpackage table .subject {
    word-break: break-all;
    text-align: left;
    padding-left: 8px;
}

.xans-board-listpackage table .writer {
    font-size: 11px;
}

.xans-board-listpackage table .date {
    line-height: 14px;
}

.xans-board-listpackage table .category {
    font-size: 11px;
}

.txtLess {
    font-size: 11px;
}

.xans-board-listpackage table th:last-child, .xans-board-listpackage table td:last-child {
    border-right: 0;
}

.xans-board-listpackage table a {
    color: #353535;
}

.xans-board-listpackage table .comment-count {
    margin-left: 0;
    color: #444;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.xans-board-listpackage table td:last-child {
    border-right: 0;
}

.xans-board-listpackage .boardListEmpty {
    padding: 54px 0;
    text-align: center;
    background-color: #fff;
    color: #a0a0a0;
}

.xans-board-buttonlist {
    padding: 15px 0 10px 0;
    text-align: right;
}

.btn.Dark {
    background: #272727;
    color: #ffffff;
    border: 1px solid #272727;
}

.btn.Normal {
    font-size: 11px;
    height: 31px;
    line-height: 31px;
}

.btn.Wnormal {
    min-width: 80px;
}

.df-base-paging {
    display: table;
    margin: 0 auto;
    padding: 25px 0 30px;
    text-align: center;
    font-size: 0;
}

.df-base-paging p {
    float: left;
    display: inline-block;
}

.df-base-paging ol {
    float: left;
    display: inline-block;
}

.df-base-paging li {
    float: left;
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin: 0 0 0 -1px;
}

.df-base-paging li a {
    display: block;
    width: 31px;
    height: 30px;
    font-size: 10px;
    line-height: 31px;
    color: #404040;
    background: #fff;
}

.df-base-paging li a.this {
    background: #f2f2f2;
    color: #000;
}

img, fieldset {
    border: none;
    vertical-align: top;
}

.df-base-paging ol {
    float: left;
    display: inline-block;
}

input, select, textarea {
    font-size: 100%;
    color: #353535;
    vertical-align: middle;
    outline: none;
}

input, select {
    font-family: "Roboto","Arial","돋움","Dotum","Apple SD Gothic Neo","Apple Gothic",sans-serif;
}

.xans-board-search {
    margin-top: 1px;
    padding: 10px 0 10px 0;
    color: #2e2e2e;
    font-size: 11px;
}

.xans-board-search .boardSearch {
    display: block;
}

legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
}

.xans-board-search p {
    margin: 0 0 8px;
    padding: 0 0 0 0;
}

.xans-board-search select {
    margin: 0 2px 0 0;
    width: 72px;
    height: 26px;
    padding: 2px;
    border: 1px solid #e3e3e3;
}

input[type=text], input[type=password] {
    height: 22px;
    line-height: 24px;
    padding: 2px 8px;
    border: 1px solid #e7e7e7;
}

.btn {
    font-family: "Roboto","Arial","Nanum Gothic","돋움","Dotum","Apple Gothic","Apple SD Gothic Neo",sans-serif;
    color: #7d7d7d;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-align: center;
    padding: 0px 8px 0 9px;
    border: 1px solid #e0e0e0;
    background: #fafafa;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-transition: all 0.12s ease-in-out;
    -ms-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}

.mL5 {
    margin-left: 5px;
}

.btn.Light {
    background: #fff;
    color: #7d7d7d;
    border: 1px solid #ccc;
}

.btn.Small {
    font-size: 11px;
    height: 26px;
    line-height: 26px;
}
