<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dramaviewMapper">
  <resultMap type="DramaDTO" id="dramaDTO"></resultMap>
  <resultMap type="DramaListDTO" id="dramalistDTO"></resultMap>
  <resultMap type="CompanyDTO" id="companyDTO"></resultMap>
  <resultMap type="ReviewDTO" id="reviewDTO"></resultMap>
  
  <select id="selectOne" parameterType="int" resultMap="dramaDTO">
  	select * from DRAMA where drama_num=#{drama_num}
  
  </select>
  	
  	<select id="selectList" parameterType="com.theater.util.RowNum" resultMap="dramalistDTO">
  	select * from DATE_LIST  where drama_num=#{drama_num} order by drama_time asc
  	
  	</select>
  	
  	<select id="ticket_sell" parameterType="int" resultType="int">
  	select (row_num * col_num) from COMPANY_INFO where company_num=#{drama_num}
  	</select>
  
  <select id="selectList_review" parameterType="com.theater.util.RowNum" resultMap="reviewDTO">
  	<!-- 	select * from
  		(select rownum r, N.* from
  		(select * from review order by drama_num desc) N)
  		where r between #{startRow} and #{lastRow} -->
  		select * from review where drama_num=#{drama_num}  order by review_date desc
  </select>
  
  <select id="selectOne_review" parameterType="int"  resultMap="reviewDTO">
 <!--  select * from review where drama_num=#{drama_num} order by review_date desc -->
 select * from REVIEW where drama_num=#{drama_num}
  </select>
  
  <select id="totalcount" parameterType="int" resultType="int">
	select COUNT(drama_num) from REVIEW where drama_num=#{drama_num}
  </select>
  
  <select id="review_avg" parameterType="int" resultType="int">
  select sum(star)/count(drama_num) from REVIEW where drama_num=#{drama_num}
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>